<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,500;1,900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>NFT Livewire - Admin tools</title>
  </head>

  <body>
    <header>
        <h2> NFT Livewire - Administration tools</h2>
    </header>
    {{#if active}}
      <nav class="topnav">
          <img src="/img/logo.png"/>
          <ul>
            <li><a href="/admin/logout">Log Out</a></li>
            <li><a href="/admin/nft">NFT - AMD</a></li>
          </ul>
      </nav>
    {{/if}}
    {{{body}}}
    <footer>
        <p>Designed by GCODES</p>
    </footer>
  </body>

</html>